.comp_cards {
    margin: auto;
    padding: 4px;
    max-width: 60%;
    background-color: #648DE5;
    border-radius: 4px;
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    /* align-items: flex-end; */
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.grouped_persons {
    
}

