#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-conainer:hover {
  text-decoration: underline;
}

.logo {
  max-height: 8em;
  object-fit: cover;
  padding: 0.5em;
  will-change: filter;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.tailwind:hover {
  filter: drop-shadow(0 0 2em #44ff51eb);
}

.logo.daisy:hover {
  filter: drop-shadow(0 0 2em #f3e816b5)
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: logo-spin infinite 2s linear;
}

.card {
  padding: 2em;
}

.skew {
  opacity: 90%;
  position: absolute;
  height: 3.5em;
  width: 15em;
  transform: skew(-30deg);
  /* background-image: linear-gradient(black 0%, rgb(65,65,65) 20%, black 40%, rgb(150,150,150) 70%, black 100%) */
}